.header {
    background-color: #08101d;
}

.conteiner {
    max-width: $site-width;
    margin: 0 auto;
}

.header-link {
    text-decoration: none;
    padding: 2.91%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: white;
    transition: $delay;
}

.header-link:hover {
    color: $color-buttons;
    transform: translateX(10px)
}

.header-nav {
    display: flex;
    justify-content: center;
    padding: 3% 2% 0;
}