.main-box {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    background-color: #08101d;
    &__padding-all {
        padding: 0 2%;
    }
}

.main-left {
    max-width: 604px;
}

.main-subtitle {
    color: #3A68B8;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
        text-transform: uppercase;
    margin-bottom: 10px;
}

.main-title {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 71px;
    margin-bottom: 40px;
}

.main-dsc {
    max-width: 558px;
    color: #b3b5ba;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 50px;
}

.button-box {
    display: flex;
    gap: 20px;

    &_br {
        border-radius: 5px;
    }
}


.button-link:hover {
    color: $color-buttons;
    background-color: transparent;
    border: 1px solid $color-buttons;
    transform: scale(1.2);
}

.button-link {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    padding: 15px 30px;
    background: $color-buttons;
    text-decoration: none;
    border: 1px solid transparent;
    transition: $delay;

    &_red {
        background-color: red;
    }

    &_orange {
        background-color: orange;
    }

    &_bc-orangered:hover {
        background-color: orangered;
    }

    &_color:hover {
        color: #fff;
    }

}

.fa-play {
    font-size: 26px;
    margin-right: 10px;

}

.button-video {
    display: flex;
    background-color: #3A68B8;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 30px;
    align-items: center;
    transition: $delay;
}

.button-video:hover {
    color: #3A68B8;
    background-color: transparent;
    border: 1px solid #3A68B8;
    transform: scale(1.2);
    transform: rotate(0, 30deg);
}

.button-dsc {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}