.section-three {
    background-color:  #020a18;
}
.conteiner-three {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  gap: 30px;
}

.big-box {
    grid-row: 2/4;
    grid-column: 1/3;
}


.left-box {
    @extend .mini-box;
}

.left-title {
    @extend .text-h1;
}

.picture-one {
    @extend .picture-mini;
}

.left-dsc {
    @extend .text-h2;
}

.average-box {
    @extend .mini-box;
}

.average-title {
    @extend .text-h1;
}

.picture-two {
    @extend .picture-mini;
}

.average-dsc {
    @extend .text-h2;
}

.right-box {
    @extend .mini-box;
}

.right-title {
    @extend .text-h1;
}

.picture-three {
    @extend .picture-mini;
}

.right-dsc {
    @extend .text-h2;
}

.big-box {
    width: 754px;
    height: 808px;
    border-radius: 10px;
    background-color: #132035;
}

.picture-four {
    margin-top: 30px;
    margin-left: 224px;
}

.big-title {
    margin-top: 60px;
    margin-left: 30px;
    width: 694px;
    height: 62px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.big-dsc {
    margin-top: 60px;
    margin-left: 30px;
    width: 694px;
    height: 130px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.line-one-box {

    @extend .mini-box;
}

.line-one-pic {
    @extend .picture-mini;
}

.line-one-title {
    @extend .text-h1;
}

.line-one-dsc {
    @extend .text-h2;
}

.line-two-box {

    @extend .mini-box;
}

.line-two-pic {
    @extend .picture-mini;
}

.line-two-title {
    @extend .text-h1;
}

.line-two-dsc {
    @extend .text-h2;
}