@media (max-width: 768px) {

    .main-box {
        flex-wrap: wrap;
        justify-content: center;

    }

    .main-subtitle {
        font-size: 16px;
    }

    .main-title {
        font-size: 48px;
        line-height: 62px;
    }

    .main-pic {
        max-width: 414px;
        max-height: 415px;
        margin-top: 143px;
    }

    /*-----------------------------------*/

    .logo {
        margin-top: 165px;
        margin-bottom: 120px;
    }

    .flex {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 114px;
    }

    .logo-pic {
        margin-left: 32px;
        margin-top: 32px;
    }

    /*-----------------------------------*/

    .section_two-box {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-pic {
        margin-top: 157px;
        margin-bottom: 68px;
    }

    .section-title {
        margin-top: 0;
    }

    .button-section-box {
        margin-bottom: 279px;
    }

    /*-----------------------------------*/

    .conteiner-three {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, auto);
    }

    .big-box {
        display: none;
    }

    .line-one-box {
        display: none;
    }

    .line-two-box {
        display: none;
    }

    /*-----------------------------------*/

    .conteiner-five {
        flex-flow: column;
        align-items: center;
    }

    .left-five-box {
        margin-top: 243px;

    }

    .right-five-pic {
        max-width: 573px;
        max-height: 492px;
        margin-top: 64px;
    }

    /*-----------------------------------*/

    .conteiner-footer {
        flex-wrap: wrap;
        padding: 0 2% 3%;
    }

    .line-four {
        margin-bottom: 37px;
    }

    .coloumn_three-line_one {
        margin-top: 0;
        margin-left: 0;
    }

    .coloumn_three-line_two {
        margin-left: 0px;
        margin-top: 33px;
    }

    .icons {
        margin-left: 0;
        margin-top: 24px;
    }
   
}